//https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.-!%3F%27%23%26%2F%3A()%2C%5C

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-display: swap;
  src: url('../Fonts/Rubik/rubik-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  src: url('../Fonts/Rubik/rubik-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'CascadiaCode';
  font-style: normal;
  font-display: swap;
  src: url('../Fonts/CascadiaCode/CascadiaCode.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  // font-size: 2vw;
  color: white;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body,
html {
  overflow-x: hidden;
  // font-size: 100%;
  background-color: rgb(32, 32, 32);
}

body::before {
  position: fixed;

  width: 100vw;
  height: 100vh;

  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%, gray 2%, transparent 9%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;

  z-index: 1;

  content: '';
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #464646;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
