@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./colours";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  color: white;
}

p,
h4 {
  max-width: 60ch;
}

a,
img {
  user-select: none;
}

#root,
html,
body {
  width: 100%;
}

body {
  background-color: $lgtblue;
}

.notBlueSelect::selection,
.notBlueSelect *::selection {
  background: $dblue;
}
